$primary-color: #4eb780;
$primary-highlight: #3d9567;
$content-color: #565b65;
$content-header: #45474c;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $primary-color;
  overflow: hidden;
}

#header {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 12em 1em;
  color: #fff;

  h1 {
    font-family: "Pacifico", cursive;
    font-weight: 100;
    font-size: 4.5em;
    margin: 0;
  }

  h2 {
    font-weight: 300;
    font-size: 2em;
    margin: 15px 0 10px 0;
  }

  a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 10px 15px;
    margin: 15px 10px 0 10px;
    border: 2px solid #fff;
  }

  a:hover {
    color: $primary-color;
    background-color: #fff;
  }
}

@media only screen and (max-width: 480px) {
  #header {
    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 1.3em;
    }
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  #header {
    h1 {
      font-size: 3.5em;
    }

    h2 {
      font-size: 1.5em;
    }
  }
}
